<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p class="text-monospace font-weight-bold">Use this site to get your weather!</p>

        <form>
            <input placeholder="Location" class="form-control"> <br>
            <button class="btn btn-danger">Search</button>
        </form>
        <br>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>